/****************************** Section_1 *********************************/

.intro__content {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 6.67rem;
  padding-bottom: 9.33rem;
}

.intro-group {
  max-width: 36.67rem;
  padding-bottom: 2.33rem;
}

.intro__title {
  margin: 1rem 0 3.33rem;
}

.intro__description {
  padding-right: 5.33rem;
  margin: 0 0 3.33rem;

  font-weight: 400;
  font-size: 1.67rem;
  line-height: 2.33rem;
}

.intro__btn-group {
  justify-content: flex-start;
  margin-bottom: 1.67rem;
}

.intro__qualification {
  display: block;

  font-weight: 400;
  font-size: 1rem;
  line-height: 1.67rem;
}

.intro__img-wrapper {
  max-width: 50.67rem;
  margin-left: -1.33rem;
}

.intro__img {
  max-width: 100%;
  height: auto;
}

/****************************** Section_2 *********************************/

.consumers__content {
  padding-top: 0.67rem;
  padding-bottom: 0.67rem;
}

.consumers__title {
  max-width: 48rem;
  margin: 0 auto;
  padding: 6.67rem 0 4.67rem; 

  text-align: center;
}

.consumers__list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.33rem 6.33rem;
}

/****************************** Section_3 *********************************/

.features__content {
  padding-top: 6rem;
  padding-bottom: 10rem;
}

.features__item {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-bottom: 16.67rem;
}

.features__item_definition {
  width: 50%;
  padding: 9.7rem 8.5rem 9.7rem 0; 
}

.indent_left {
  padding: 9.7rem 0 9.7rem 9.2rem; 
}

.features__item-title {
  margin-bottom: 2rem;
}

.features__item-description {
  margin-bottom: 2rem;
}

.features__item_depiction {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.features__item-img {
  max-width: 100%;
  height: auto;
}

.position_bottom {
  align-items: flex-end;
}

.features__content > div.features__item:last-child {
  margin-bottom: 0;
} 

.media_link {
text-decoration: underline;
}

/****************************** Section_4 *********************************/

.apps-formats__content {
  padding-top: 8rem;
  padding-bottom: 6rem;
}

.apps-formats__title {
  margin: 0 auto 4rem;
  
  text-align: center;
}

.apps-formats__wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.apps-formats__item {
  width: 22rem;
  padding: 1.33rem 0.67rem 0.33rem;
  margin-bottom: 4rem;

  text-align: center;
}

.apps-formats__item-img {
  max-width: 100%;
  height: auto;
  margin-bottom: 1.67rem;
}

.apps-formats__item-title {
  margin-bottom: 1.33rem;
}

.apps-formats__item-description {
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.67rem;
}

/****************************** Section_5 *********************************/

.team-members__content {
  padding-top: 10.33rem;
  padding-bottom: 4.67rem;
}

.team-members__title {
  margin-bottom: 1.67rem;
  
  text-align: left;
}

.team-members__wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
}

.team-members__wrapper:last-child {
  margin-right: -2rem;
}

.team-members__item {
  width: 29.27rem;
  padding: 0 2rem 8rem 0;

  text-align: left;
}

.team-members__item-img_wrapper{
  position: relative;

  height: 20rem;
}

.team-members__item-img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  max-width: 100%;
  height: auto;
}

.team-members__item-title {
  margin-bottom: 2.33rem;

  font-weight: 600;
  font-size: 2rem;
  line-height: 2.67rem;
}

.team-members__item-description {
  margin-bottom: 1.67rem;
}

/****************************** Section_6 *********************************/

.recommendation__content {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding-top: 3.33rem;
  padding-bottom: 7rem;
}

.recommendation-group {
  width: 60rem;
}

.recommendation__description {
  padding: 1.33rem 0 1.33rem;

  font-weight: 400;
  font-size: 2rem;
  line-height: 2.67rem;
}

.recommendation__author {
  display: flex;
  flex-direction: column;
  gap: 0.47rem;

  font-weight: 400;
  font-size: 1rem;
  line-height: 1.67rem;
}

.recommendation__img {
  max-width: 100%;
  height: auto;
}

/****************************** Section_7 *********************************/

.achievement__content {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding-top: 4.67rem;
  padding-bottom: 5.33rem;
}

.achievement__item-1 {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.achievement__img {
  max-width: 100%;
  height: auto;
  margin: 1.33rem 4.6rem 0.33rem -1.33rem;
}

.achievement__titel {
  width: 30.67rem;
  padding-top: 3rem;
  padding-bottom: 2rem;
  margin-right: 8.33rem;
}

.achievement__item-2 {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 4.67rem;
  padding: 2.67rem 4rem 1.33rem 4.67rem;

  border-left: 1px solid #000000;
}

.achievement__wrapper {
  display: flex;
  flex-direction: column;
}

.achievement__wrapper-img {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 1.33rem;
}

.img36x37 {
  max-width: 100%;
  height: auto;
}

.img150x37 {
  max-width: 100%;
  height: auto;
}

.achievement__rating {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 0.4rem;
  width: 8.53rem;
  margin-bottom: 1rem;
}

.achievement__description {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.67rem;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
}

/****************************** Section_8 *********************************/

.compatibility__content {
  padding-top: 11rem;
  padding-bottom: 10.67rem;

  text-align: center;
}

.compatibility__title {
  display: inline-block;
  max-width: 52.66rem;
  margin: 0 0 2rem;
}

.compatibility__description {
  display: inline-block;
  max-width: 36rem;
  margin-bottom: 1.67rem;

  font-weight: 400;
  font-size: 1.67rem;
  line-height: 2rem;
}

.compatibility__img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto 2rem;
}

/****************************** Section_9 *********************************/

.motivation__content {
  padding-top: 8rem;
  padding-bottom: 10.67rem;

  text-align: center;
}

.motivation__title {
  display: inline-block;
  max-width: 52.33rem;
  margin: 0 0 2rem;
}

.motivation__description {
  margin-bottom: 3.67rem;

  font-weight: 400;
  font-size: 1.67rem;
  line-height: 2rem;
}