.btn {
  display: inline-block;
  
  font-weight: 600;
  font-size: 1.07rem; 
  text-align: center;
  vertical-align: top;

  color: #000000;
  cursor: pointer;
}

.btn__small {
  padding: 0 2.4rem;

  line-height: 3rem;

  border: 1px solid #808080;
}

.btn__big {
  padding: 0 2rem;

  line-height: 4rem;

  border: 1px solid #808080;
}

.btn__small_primary {
  padding: 0 1.47rem;

  border: none;
  background-color: #FF6336;
  color: #FFFFFF;
}

.btn__big_primary {
  padding: 0 2.8rem;

  border: none;
  background-color: #FF6336;
  color: #FFFFFF;
}

.btn__no-border {
  display: inline-block;
  padding: 0 0.67rem 0.67rem 0;

  vertical-align: top;
  font-weight: 600;

  cursor: pointer;
}

.btn__underline {
  font-weight: 400;

  text-decoration: underline;
}

.btn__big_last {
  padding: 0 2.8rem;

  font-size: 1.13rem; 

  border: none;
  background-color: #000000;
  color: #FFFFFF;
}