body {
  background-color: #E5E5E5;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  box-sizing: border-box;
  padding: 32px;
  width: 406px;
  
  font-family: 'Inter', sans-serif;
  
  background-color: #FFFFFF;
  border-radius: 8px;
  box-shadow: 0px 2px rgba(21, 42, 77, 0.08);
  color: #3E3E3E;
}

.modal__title {
  display: inline-block;
  margin: 0 0 16px;
  width: 280px;

  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}

.btn_close {
  padding: 10px;
  margin-left: 10px;
  float: right; 

  background-color: #FFFFFF;
}

.wrap::after {
  content: "";
  clear: both;
  display: block;
}

.notification {
  padding: 10px;
  margin-bottom: 12px;
  vertical-align: top;
  text-align: left;

  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  
  background-color: #F0F1F3;
}

.notification::before {
  content: url("../images/icon_info.png");
  display: inline-block;
  box-sizing: border-box;
  margin-right: 8px;
  vertical-align: middle;

  line-height: 0;
}

.modal__description {
  margin-bottom: 32px;
  margin-top: 0;
  
  font-weight: 400;
  font-size: 14px;
  line-height: 21.5px;
}

.buttons_group {
  position: relative;
} 

.btn {
  display: inline-block;
  box-sizing: border-box;
  vertical-align: top;
  text-align: center;
  padding: 10px 20px;
 
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  
  background-color: #F0F1F4;
  color: #2C2D2E;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn_primary {
  margin-right: 12px;

  background-color: #3E56AA;
  color: #FFFFFF;
}

.btn_last {
  color: #3E56AA;
  background-color: #FFFFFF;
}

.buttons_group .btn:last-child {
  position: absolute;
  right: 0px;
}

.modal .modal_item:last-child {
  margin-bottom: 0;
}

.notification_check{
  background-color: #E9F8EB;
}

.notification_check::before {
  content: url("../images/icon_check.png");
}

.notification_warning{
  background-color: #FFF8E0;
}

.notification_warning::before {
  content: url("../images/icon_warning.png");
}

.notification_alert{
  background-color: #FDEAE4;
}

.notification_alert::before {
  content: url("../images/icon_alert.png");
}