@use '../utils/variables' as *;

.l-pagination__btn {
  text-align: right;
  line-height: 0;
  cursor: pointer;

  &--hamburger:active {
    background: $color-separator;
    border-radius: 8px;
  }

  @media only screen and ($tablet-sd) {
    & {
      display: none;
    }
  }
}

.c-hamburger {
  stroke: $color-main-regular;

  .t-dark & > path {
    stroke: $color-t_dark;
  } 
}

.c-wrapper__scroll {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  outline: none;
  z-index: 3;

  & svg > * { 
    transition: stroke 300ms;
  }
  
  &:hover svg > *,
  &:focus svg > * {
    stroke: #F0145A;
  }
}

.c-client {
  display: flex;
  height: 120px;
  justify-content: center;
  align-items: center;

  &--hillel {
    background: #1C4280;
  }

  &--wannabiz {
    background: #143646;
  }

  &--tapgerine {
    background: linear-gradient(0deg, #F48B30, #F48B30), #F48B30;
  }

  &--3dlook {
    background: #9E4DC3;
  }

  &--orangear {
    background: #FD9339;
  }

  &--adtelligent {
    background: #E2E2E4;
  }

  &--clickky {
    background: #C71C36;
  }

  &--leasing {
    background: #DCF3F9;
  }

  &--infra_tek {
    background: #EAEAEA;
  }

  &--siti_park {
    background: #282240;
  }

  &--art-print_studio {
    background: #1D4568;
  }

  &--ultimate_card {
    background: #000000;
  }
}

.c-btn {
  position: relative;
  padding: 18px 30px;

  background: $color-active-regular;
  box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
  border: none;
  border-radius: 12px;
  color: #FFFFFF;
  cursor: pointer;

  &:hover {
    background: $color-active-hover;
  }

  &:active {
    background: $color-active-active;
  }

  .loading_wrapper {
    display: none;
  }

  &.is-loading {
    background: $color-bg-alt;
    box-shadow: none;
    color: transparent;
    

    &:hover,
    &:active {
      background: $color-bg-alt;
      cursor: default;
    }

    .loading_wrapper {
      position: absolute;
      left: 50%;
      top: 0;
      transform: translate(-50%, 35%);

      display: block;
    }
  }

  &.has-loaded {
    background: $color-bg-alt;
    box-shadow: none;
    color: transparent;

    &::after {
      content: "Sent";
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      color: $color-main-regular;
    }

    &:hover,
    &:active {
      background: $color-bg-alt;
      cursor: default;
    }
  }
}

.rotate-center {
  animation:rotate-center 1.0s ease-in-out 5s infinite both
}

@keyframes rotate-center {
  0% {
    transform:rotate(0)
  }
  100% {
    transform:rotate(360deg)
  }
}

.l-popup__btn {
  text-align: right;
  line-height: 0;
  cursor: pointer;

  &--close {
    align-self: flex-start;

    &:hover {
      background: $color-separator;
      border-radius: 8px;
    }
  }
}