@use '../utils/variables' as *;
@use '../utils/mixins' as *;

.c-breadcrumbs {
  display: flex;
  flex-direction: row;
  padding: 15px 0 10px;
  gap: 4px;

  &__item {
    display: flex;
    gap: 4px;
  }

  &__item::after {
    display: inline-block;
    content: url(img/header_icons/slash.svg);
    width: 12px;
    height: 26px;
    margin-right: 4px;
  }

  &__item:last-child::after {
    display: none;
  }

  &__link {
    display: block;
  }

  &__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
  
    color: $color-main-regular;

    .t-dark & {
      color: $color-t_dark;
    }
  }
}

.c-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  gap: 15px;

  .is-active.link-accent {
    color: $color-accent;
  }

  .is-active.link-gradient {
    background: $color-gradient-red_text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &-exp {
    flex-direction: row;
    flex-flow: row nowrap;
    gap: 30px;
    padding-bottom: 30px;
    min-width: calc(100% + 30px);
    overflow-x: auto;

    white-space: nowrap;

    scrollbar-width: none;
      
    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    align-self: stretch;
    padding: 7px 0px;

    background: $color-bg;
    border-radius: 12px;

    &:active {
      background: $color-separator;
    }

    &-exp {
      padding: 0;
      background: none;
      border-radius: 0;
    }
  }

  &__link {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;

    font-weight: 700;
    font-size: 24px;
    line-height: 29px;

    color: $color-active-regular;

    &-exp {
      font-size: 30px;
      line-height: 37px;

      color: $color-text;
    }
  }
}

.l-pagination {

  &__wrapper {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    display: none;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      height: 100%;
      width: 100%;
      z-index: -1;

      background: $color-main-regular;
      opacity: 0.7;
    }
  }

  &__nav {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: calc(100% - 16px);
    transform: translateX(-50%);
    z-index: 4;

    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 12px;

    background: #FFFFFF;
    border-radius: 12px 12px 0px 0px;
  }

  .check {
    display: none;
  }

  .check:checked + &__wrapper {
    display: block;
  }
}

@include separator (c-service-type__item, $color-accent);

.c-service-type {
  &__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
  }

  &__item {
    align-items: flex-start;
    gap: 8px;

    color: #FFFFFF;

    &::before {
      margin-top: 12px;
      flex-shrink: 0;

      background-color: $color-accent;
    }
  }
}

@media only screen and ($tablet-sd) {
  .c-breadcrumbs {
    padding: 0;

    &__item::after {
      width: 21px;
      height: 47px;
    }

    &__text {
      font-size: 36px;
      line-height: 44px;
    }
  }

  .c-list {
    & {
      flex-direction: row;
      align-items: flex-start;
      padding: 0px;
      gap: 15px;
      
      .is-active.link-accent {
        padding-bottom: 3px;
        color: $color-accent;
        border-bottom: 2px solid $color-accent;
      }
    }

    &-exp {
      gap: 30px;
      padding-bottom: 60px;
      min-width: calc(100% + 60px);
    }
  
    &__item {
      & {
        padding: 0px 0px 3px;
        background: none;
      }

      &:active {
        background: none;
      }

      &-exp {
        font-size: 38px;
        line-height: 46px;
      }
    }
  
    &__link {
      display: block;
      font-size: 16px;
      line-height: 20px;
  
      .t-dark & {
        color: $color-t_dark;
      }
  
      &:hover {
        padding-bottom: 3px;
        border-bottom: 2px solid $color-active-regular;
      }
  
      .t-dark &:hover {
        border-bottom: 2px solid $color-t_dark;
      }

      &-exp {
        font-size: 38px;
        line-height: 46px;

        &:hover {
          border-bottom: none;
          padding-bottom: 0;
          color: $color-accent;
        }
      }
    }
  }

  .l-pagination {
    &__wrapper {
      position: static;
  
      display: block;
       height: auto;
  
      &::before {
        display: none;
      }
    }
  
    &__nav {
      position: static;
      transform: translateX(0);
        
      flex-direction: row;
      gap: 0;
      width: 100%;
      padding: 0;
  
      background: none;
      border-radius: 0;
    }
  }
} 

@media only screen and ($tablet-hd) {
  .c-list {
    &-exp {
      flex-direction: column;
      min-width: 0;
      padding-bottom: 0;
    }
  
    &__item {
      &-exp {
        align-self: flex-end;
      }
    }
  }
}