@use '../utils/variables' as *;
@use '../utils/mixins' as *;

@include link (c-team__link);

.c-team {
  &__list {
    margin-bottom: 60px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    overflow: hidden;

    @media only screen and ($tablet-hd) {
      flex-direction: row;
    }
  }

  &__img-box {
    position: relative;
    flex: 0 0 500px;

    @media only screen and ($tablet-hd) {
      flex: 0 0 400px;
    }
  }

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  &__container {
    display: flex;
    flex-direction: column;
    padding: 30px;

    background: $color-bg;
  }

  &__link {
    margin-bottom: 5px;
  }

  &__title {
    margin: 0 0 30px;

    font-size: 30px;
    line-height: 37px;
    
    @media only screen and ($tablet-sd) {
      font-size: 38px;
      line-height: 46px;
    }
  }

  &__author {
    margin-bottom: 6px;
    
    color: $color-text;
  }

  &__job-title {
    font-size: 14px;
    line-height: 22px;

    color: $color-text;
  }
}

.swiper-pagination {
  
  &-bullet {
    width: 16px;
    height: 16px;

    background: $color-active-regular;
    opacity: 0.2;

    &-active {
      opacity: 1;
    }
  }
}