@use '../utils/variables' as *;
@use '../utils/mixins' as *;

%footer_flex-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  @media only screen and ($tablet-sd) {
    & {
      flex-direction: row;
      justify-content: left;
      align-items: center;
      gap: 0;
    }
  }
}

.l-footer__bg {
  background-color: $color-bg;
}

.l-footer {
  display: grid;
  grid-template-areas:  "l-footer__bl_address"
                        "l-footer__bl_contact"
                        "l-footer__bl_policy";
  gap: 21px;
  padding: 32px 0 30px;

  text-align: center;
  border-top: 2px solid $color-separator;

  @media only screen and ($tablet-sd) {
    & {
      justify-content: center;
      text-align: left;
    }
  }

  @media only screen and ($tablet-hd) {
    & {
      grid-template-areas:  "l-footer__bl_address l-footer__bl_policy"
                            "l-footer__bl_contact l-footer__bl_contact";
      justify-content: stretch;
  
      .l-footer__bl_policy {
        text-align: right;
      }  
    }
  }

  &__bl_address {
    grid-area: l-footer__bl_address;
    gap: 10px;
    @extend %footer_flex-item;
  }

  &__bl_contacts {
    grid-area: l-footer__bl_contact;
    @extend %footer_flex-item;
    gap: 10px;
    margin-bottom: 9px;

    @media only screen and ($tablet-sd) {
      & {
        margin-bottom: 0;
      }
    }
  }

  &__bl_policy {
    grid-area: l-footer__bl_policy;

    @media only screen and ($tablet-sd) {
      & {
        text-align: center;
      }
    }  

    @media only screen and ($tablet-hd) {
      & {
        text-align: right;
      }
    }  
  }
}
// *************************Tablet-SD****************************

@media only screen and ($tablet-sd) {
  .primary-page {
    grid-template-areas:  "l-footer__bl_address l-footer__bl_policy"
                          "l-footer__bl_contact l-footer__bl_contact";
    justify-content: stretch;

    .l-footer__bl_policy {
      text-align: right;
    }  
  }

  @include separator (bl_address__item, $color-text);
  @include separator (bl_contacts__item, $color-text);

  .l-footer__bl_address .bl_address__item:first-child::before {
    display: none;
  }

  .l-footer__bl_contacts .bl_contacts__item:first-child::before {
    display: none;
  }
}