html {font-size: 15px;}

body {
  background: url('../images/111.jpg') no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.titel {
  text-align: center;
  margin-top: 2.4em;
  font-size: 1.8em;
}

.titel__logo {
  background-color: red;
  outline: 3px solid rgba(255,255,255,1); 
  outline-offset: -8px; 
  padding: 5px 10px 5px 10px;
  color: white;
  font-family: 'Marvel';
  text-transform: uppercase;
  font-size: 1.3em;
}

.cards__group {
  text-align: center;
}

.card {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 210px;
  height: 580px;
  padding: 10px;
  margin: 0px 10px 20px;
  box-sizing: border-box; 
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.card_last {
  margin-bottom: 10em;
}

.card__icon {
  width: initial;
  height: 250px;
}

.card__titel {
  text-transform: capitalize;
  font-size: 1.5em;
  height: 50px;
}

.card__discription {
  text-align: justify;
  color: #46474e;
  font-size: 0.8rem;
  font-family: Arial, Helvetica, sans-serif;
}